<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav Icon -->
    <link rel="Icon" href="/landing-page-furniture/public/img/logo.png"/>

    <!-- Style CSS -->
    <link rel="stylesheet" href="/landing-page-furniture/public/assets/CSS/about-style.css">
    <link rel="stylesheet" href="/landing-page-furniture/public/assets/CSS/style.css"/>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700 display=swap" rel="stylesheet"/>
    <title>Tentang Furnika</title>
</head>
<body>
    <!-- Nvabar start -->
    <header id="navbar">
        <nav id="nav" class="navbar-container container">
            <a href="#" class="home-link" style="font-size: 42px">
                <img src="/landing-page-furniture/public/img/logo.png" class="navbar-logo" alt=""/><span style="font-size: 28px; font-weight: 700;">Furnika</span></a>
            <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="navbar-menu" aria-labelledby="navbar-toggle">
                <ul class="navbar-links">
                    <li class="navbar-item">
                        <a class="navbar-link" href="/landing-page-furniture/public/assets/view/Index.html">Beranda</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="/landing-page-furniture/public/assets/view/About.html">Tentang</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="/landing-page-furniture/public/assets/view/Product.html">Produk</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Nvabar end -->

    <!-- Hero start -->
    <section class="hero">
        <div class="container-hero">
            <div class="title-wrap">
                <h1 style="color: white">Produk Furnika</h1>
                <p style="margin: 20px; color: white; font-size: 18px">Produk - produk yang kami tawarkan sudah lolos uji dengan kualitas terbaik dan selalu memberikan penawaran spesial untuk pwlanggan Furnika yang budiman</p>
            </div>
        </div>
    </section>
    <!-- Hero end -->

    <!-- Product start -->
    <section class="product-page" style="margin-top: 5rem;">
        <div class="family-room" style="text-align: center;">
            <h1 style="margin-bottom: 3rem;">Ruang Keluarga</h1>
            <img class="banner-1" src="/landing-page-furniture/public/img/Ruang-keluarga.jpg" width="800px" alt="">
            <div class="other-product">
                <div class="other-1" style="background-color: #ffc436;">
                    <h4>Produk lainnya</h4>
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RK-1.png" width="120px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RK-2.png" width="120px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RK-3.png" width="120px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RK-4.png" width="120px" alt="">
                </div>
            </div>
        </div>
        <div class="living-room" style="text-align: center; margin-top: 10rem;">
            <h1 style="margin-bottom: 3rem;">Ruang Tidur</h1>
            <img class="banner-1" src="/landing-page-furniture/public/img/Ruang-tidur.jpg" width="800px" alt="">
            <div class="other-product" style="display: flex; justify-content: center; margin-top: 10px; gap: 10px">
                <div class="other-1" style="background-color: #ffc436;">
                    <h4>Produk lainnya</h4>
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RT-1.jpg" width="180px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RT-2.jpg" width="180px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RT-3.png" width="180px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RT-4.png" width="180px" alt="">
                </div>
            </div>
        </div>
        <div class="working-room" style="text-align: center; margin-top: 10rem;">
            <h1 style="margin-bottom: 3rem;">Ruang Kerja</h1>
            <img class="banner-1" src="/landing-page-furniture/public/img/Ruang-kerja.jpg" width="800px" alt="">
            <div class="other-product" style="display: flex; justify-content: center; margin-top: 10px; gap: 10px">
                <div class="other-1" style="background-color: #ffc436;">
                    <h4>Produk lainnya</h4>
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RKa-1.png" width="120px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RKa-2.png" width="120px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RKa-3.png" width="120px" alt="">
                </div>
                <div class="other-1">
                    <img src="/landing-page-furniture/public/img/RKa-4.png" width="120px" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Product end -->

    <!-- Footer start -->
    <footer style="margin-top: 10rem;">
        <div class="wrap" style="width: 100%; height: 150px; background-color: #0C356A; text-align: center; color: white; padding: 20px;">
            <h3>Furnika</h3>
            <p>Dibuat dengan penuh &#10084 oleh Irsyam Okta Pratama Riyadi </p>
            <p style="font-size: 14px;">Copyright &copy Furnika 2023. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer end -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <script src="/landing-page-furniture/public/assets/JS/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>