:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: #0174be;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: transparent;
  left: 0;
  right: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}
.navbar-logo {
  width: 50px;
  height: 50px;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: #0c356a;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

/* Hero */
.hero {
  background-image: url("/landing-page-furniture/public/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding-right: 200px;
  padding-left: 200px;
}

.title-wrap {
  width: 100%;
  height: 300px;
  margin-top: 6rem;
  text-align: center;
}

.title-wrap .btn {
  margin-top: 25px;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: #ffc436;
  font-weight: 500;
}

.title-wrap .btn:hover {
  background-color: #fff0ce;
}

/* Advantages */
.advantages {
  margin-top: 10rem;
}

.card-advantage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 3rem;
}

.container-advantage h1 {
  text-align: center;
}

.card-1 {
  width: 250px;
  height: 200px;
  background-color: #ffc436;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

/* Product */
.product {
  margin-top: 10rem;
}

.container-product h1 {
  text-align: center;
}

.card-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 3rem;
}

.product-1 {
  width: 250px;
  height: 250px;
  background-color: lightgray;
  overflow: hidden;
  flex: 0 32%;
}

/* Testimoni */
.testimoni {
  margin-top: 10rem;
  background-color: #ffc436;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimoni h1 {
  text-align: center;
  margin-top: 30px;
}

.card-testimoni {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  gap: 5px;
  margin-bottom: 30px;
}

.testi-1 {
  width: 230px;
  height: 260px;
  background-color: #fff0ce;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 15px;
}

/* Contact */
.card-contact {
  justify-content: center;
  display: flex;
  margin-top: 3rem;
}

.form-contact {
  width: 550px;
  height: 500px;
  background-color: #fff0ce;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 50px;
}

.form-contact input {
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.form-contact .msg {
  height: 150px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.form-contact button {
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #0c356a;
  color: white;
  font-weight: 600;
  margin-top: 20px;
}

/* About */
.container-about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-about {
  background-color: white;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.desc-about {
  width: 50%;
  background-color: #ffc436;
  padding: 80px;
}

.desc-about p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

.card-sertificate .sertificate {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 10px;
}

.card-sertificate .sertificate img {
  width: 300px;
}

/* Product */
.other-product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}

.other-1 {
  width: 150px;
  height: 150px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

@media screen and (max-width: 576px) {
  /* Hero */
  .hero {
    background-image: url("/landing-page-furniture/public/img/hero.jpg");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }

  .title-wrap {
    width: 100%;
    height: 300px;
    margin-top: 6rem;
    text-align: center;
  }

  .title-wrap .btn {
    margin-top: 25px;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #ffc436;
    font-weight: 500;
  }

  .title-wrap .btn:hover {
    background-color: #fff0ce;
  }

  /* Product */
  .product {
    margin-top: 10rem;
  }

  .container-product h1 {
    text-align: center;
  }

  .card-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 3rem;
  }

  .product-1 {
    width: 250px;
    height: 250px;
    background-color: lightgray;
    overflow: hidden;
    flex: 0 80%;
  }

  /* Contact */
  .form-contact {
    width: 350px;
    height: 500px;
    background-color: #fff0ce;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 40px;
  }

  /* About */
  .container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .title-about {
    background-color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .desc-about {
    width: 100%;
    background-color: #ffc436;
    padding: 30px;
  }

  .desc-about p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
  }

  .banner-1 {
    width: 350px;
  }

  .other-1 h4{
    font-size: 16px;
  }

  .other-1 {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px){
  /* Hero */
  .hero {
    background-image: url("/landing-page-furniture/public/img/hero.jpg");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }

  .title-wrap {
    width: 100%;
    height: 300px;
    margin-top: 6rem;
    text-align: center;
  }

  .title-wrap .btn {
    margin-top: 25px;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #ffc436;
    font-weight: 500;
  }

  .title-wrap .btn:hover {
    background-color: #fff0ce;
  }
}
